{% extends "parts/template.html" %}

{% set page ='imprint' %}

{% block meta %}
  <title>allotropia software GmbH - Impressum</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Impressum</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Impressum</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="imprint">
      <div class="container">
        <h2>Diensteanbieter</h2>
        <p>allotropia software GmbH</p>
        <p>Flachsland 10</p>
        <p>22083 Hamburg</p>
        <p>Germany</p>
        <h2>Kontaktmöglichkeiten</h2>
        <p><strong>E-Mail-Adresse:</strong> <a href="mailto:info@allotropia.de">info@allotropia.de</a></p>
        <p><strong>Telefon:</strong> +49 40 2285 1984</p>
        <h2>Vertretungsberechtigte</h2>
        <p><strong>Vertretungsberechtigt:</strong> Thorsten Behrens (Geschäftsführer)</p>
        <h2>Angaben zum Unternehmen</h2>
        <p><strong>Umsatzsteuer-ID</strong> nach § 27 Umsatzsteuergesetz: DE 335606919</p>
        <h2>Register und Registernummer</h2>
        <p>Handelsregister</p>
        <p><strong>Geführt bei:</strong> Amtsgericht Hamburg</p>
        <p><strong>Nummer:</strong> HRB 165405</p>
        <h2>Haftungs- und Schutzrechtshinweise</h2>
        <p><strong>Haftungsausschluss</strong>: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem
          aktuellen Kenntnisstand erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende
          Wirkung, sofern es sich nicht um
          gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder
          verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig oder
          teilweise zu ändern oder zu löschen, soweit
          vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich. </p>
        <p><strong>Links auf fremde Webseiten</strong>: Inhalte fremder Webseiten, auf die wir direkt oder indirekt
          verweisen, liegen außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu Eigen. Für alle
          Inhalte und insbesondere für Schäden,
          die aus der Nutzung der in den verlinkten Webseiten aufrufbaren Informationen entstehen, haftet allein der
          Anbieter der verlinkten Webseiten.</p>
        <p><strong>Urheberrechte und Markenrechte</strong>: Alle auf dieser Website dargestellten Inhalte, wie Texte,
          Fotografien, Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte,
          Markenrechte) geschützt. Die Verwendung,
          Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw.
          Rechteverwalter.</p>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
