{% extends "parts/template.html" %}

{% set page ='index' %}

{% block meta %}
  <title>allotropia software GmbH</title>
  <meta content="services, consulting and products around LibreOffice and related opensource projects" name="description">
  <meta content="libreoffice, consulting" name="keywords">
{% endblock %}

{% block main %}

  {% include "sections/hero.html" %}

  <main id="main">

    {#% include "sections/featured-services-section.html" %#}

    {% include "sections/about-section.html" %}

    {#% include "sections/why-us-section.html" %#}

    {#% include "sections/clients-section.html" %#}

    {#% include "sections/services-section.html" %#}

    {#% include "sections/cta-section.html" %#}

    {#% include "sections/portfolio-section.html" %#}

    {% include "sections/team-section.html" %}

    {% include "sections/contact-section.html" %}

  </main><!-- End #main -->

{% endblock %}
