{% extends "parts/template.html" %}

{% set page ='privacy' %}

{% block meta %}
  <title>allotropia software GmbH - Datenschutzerklärung</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Datenschutzerklärung</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Datenschutzerklärung</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="privacy">
      <div class="container">
        <h2 class="Heading_20_2">
          <a id="a_I_I_Name_und_Anschrift_des_Verantwortlichen"></a>I.I Name und Anschrift des Verantwortlichen
        </h2>
        <p class="Standard_borderStart">Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer
          nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist
          die:
        </p>
        <address class="P11">allotropia software GmbH<br>Flachsland 10<br>22083 Hamburg<br>Deutschland<br>Tel.: +49 40
          2285
          1984<br>E-Mail: <a class="Internet_20_link"
            href="mailto:info@allotropia.de">info@allotropia.de</a>&nbsp;<br>Website: <a class="Internet_20_link"
            href="http://allotropia.de/">http://allotropia.de</a>&nbsp;<br>Link zum Impressum: <a
            href="http://allotropia.de/imprint.html">http://allotropia.de/imprint.html</a></address>
        <h2 class="Heading_20_2">
          <a id="a_I_II_Allgemeines_zur_Datenverarbeitung"></a>I.II Allgemeines zur Datenverarbeitung
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_2_1__Umfang_der_Verarbeitung_personenbezogener_Daten"></a>1.2.1. Umfang der Verarbeitung
          personenbezogener Daten
        </h3>
        <p>Wir erheben und verwenden personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur
          Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die
          Erhebung und Verwendung personenbezogener Daten
          unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen,
          in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und die
          Verarbeitung der Daten durch gesetzliche
          Vorschriften gestattet ist.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_2_2__Rechtsgrundlage_für_die_Verarbeitung_personenbezogener_Daten"></a>1.2.2. Rechtsgrundlage für
          die Verarbeitung personenbezogener Daten
        </h3>
        <p class="Standard_borderStart">Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung
          der betroffenen Person einholen, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a EU-Datenschutzgrundverordnung
          (DSGVO) als Rechtsgrundlage.</p>
        <p>Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei
          die betroffene Person ist, erforderlich ist, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;b DSGVO als
          Rechtsgrundlage. Dies gilt auch für Verarbeitungsvorgänge,
          die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.</p>
        <p>Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich
          ist, der unsere Firma unterliegt, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;c DSGVO als Rechtsgrundlage.
        </p>
        <p>Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person
          eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;d
          DSGVO als Rechtsgrundlage.</p>
        <p class="Standard_borderEnd">Ist die Verarbeitung zur Wahrung eines berechtigten Interesses unseres
          Unternehmens oder eines Dritten erforderlich und überwiegen die Interessen, Grundrechte und Grundfreiheiten
          des Betroffenen das erstgenannte Interesse nicht, so dient Art.&nbsp;6
          Abs.&nbsp;1 lit.&nbsp;f DSGVO als Rechtsgrundlage für die Verarbeitung.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_2_3__Datenlöschung_und_Speicherdauer"></a>1.2.3. Datenlöschung und Speicherdauer
        </h3>
        <p>Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der
          Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder
          nationalen Gesetzgeber in unionsrechtlichen
          Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde.
          Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen
          vorgeschriebene Speicherfrist abläuft, es
          sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder
          eine Vertragserfüllung besteht.</p>
        <h2 class="Heading_20_2">
          <a id="a_I_III_Bereitstellung_der_Website_und_Erstellung_von_Logfiles"></a>I.III Bereitstellung der Website
          und Erstellung von Logfiles
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_3_1__Beschreibung_und_Umfang_der_Datenverarbeitung"></a>1.3.1. Beschreibung und Umfang der
          Datenverarbeitung
        </h3>
        <p>Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom
          Computersystem des aufrufenden Rechners. Folgende Daten werden hierbei erhoben:</p>
        <ol>
          <li>
            <p>Informationen über den Browsertyp und die verwendete Version;</p>
          </li>
          <li>
            <p>Das Betriebssystem des Nutzers;</p>
          </li>
          <li>
            <p>Die IP-Adresse des Nutzers;</p>
          </li>
          <li>
            <p>Datum und Uhrzeit des Zugriffs;</p>
          </li>
          <li>
            <p>Websites, von denen das System des Nutzers auf unsere Internetseite gelangt;</p>
          </li>
          <li>
            <p>Websites, die vom System des Nutzers über unsere Website aufgerufen werden;</p>
          </li>
        </ol>
        <p class="P15">Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser
          Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_3_2__Rechtsgrundlage_für_die_Datenverarbeitung"></a>1.3.2. Rechtsgrundlage für die
          Datenverarbeitung
        </h3>
        <p class="P16_borderStart">Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist
          Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_3_3__Zweck_der_Datenverarbeitung"></a>1.3.3. Zweck der Datenverarbeitung
        </h3>
        <p class="Standard_borderStart">Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig,
          um eine Auslieferung der Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des
          Nutzers für die Dauer der Sitzung gespeichert bleiben.</p>
        <p class="P36">Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen.
          Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer
          informationstechnischen Systeme. Eine Auswertung der Daten
          zu Marketingzwecken findet in diesem Zusammenhang nicht statt.</p>
        <p class="Standard_borderEnd">In diesen Zwecken liegt auch unser berechtigtes Interesse an der
          Datenverarbeitung nach Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_3_4__Dauer_der_Speicherung"></a>1.3.4. Dauer der Speicherung
        </h3>
        <p class="Standard_borderStart">Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
          Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist
          dies der Fall, wenn die jeweilige Sitzung beendet ist.</p>
        <p class="P37_borderEnd">Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens vierzehn
          Tagen der Fall. Eine darüber hinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen
          der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des
          aufrufenden Clients nicht mehr möglich ist.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_3_5__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.3.5. Widerspruchs- und
          Beseitigungsmöglichkeit
        </h3>
        <p>Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für
          den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
          Widerspruchsmöglichkeit.
        </p>
        <h2 class="Heading_20_2">
          <a id="a_I_IV_Verwendung_von_Cookies"></a>I.IV Verwendung von Cookies
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_4_1__Beschreibung_und_Umfang_der_Datenverarbeitung"></a>1.4.1. Beschreibung und Umfang der
          Datenverarbeitung
        </h3>
        <p class="P32_borderStart">Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die
          im Internetbrowser bzw. vom Internetbrowser auf dem Computersystem des Nutzers gespeichert werden. Ruft ein
          Nutzer eine Website auf, so kann ein Cookie auf dem Betriebssystem
          des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische Zeichenfolge, die eine
          eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Website ermöglicht.</p>
        <p>Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer
          Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden
          kann. In dem Cookie wird dabei nur eine zufällige
          ID gespeichert und übermittelt.</p>
        <p>Ausserdem verwenden einige über unsere Webserver angebotene Dienste Cookies, um individuelle Einstellung
          über Sitzungen hinweg zu speichern. Die Angabe eines Benutzernamens ist nicht notwendig, um diese Dienste zu
          nutzen.</p>
        <p class="Text_20_body_borderEnd">Beim Aufruf unserer Website werden die Nutzer in diesen Fällen durch ein
          Infobanner über die Verwendung von Cookies zu Analysezwecken informiert und auf diese Datenschutzerklärung
          verwiesen. Es erfolgt in diesem Zusammenhang auch ein Hinweis darauf,
          wie die Speicherung von Cookies in den Browsereinstellungen unterbunden werden kann.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_4_2__Rechtsgrundlage_für_die_Datenverarbeitung"></a>1.4.2. Rechtsgrundlage für die
          Datenverarbeitung
        </h3>
        <p class="Text_20_body">Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von
          Cookies ist Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_4_3__Zweck_der_Datenverarbeitung"></a>1.4.3. Zweck der Datenverarbeitung
        </h3>
        <p class="Standard_borderStart">Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von
          Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Internetseite können ohne den Einsatz von
          Cookies nicht angeboten werden. Für diese ist es erforderlich,
          dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.</p>
        <p class="Standard_borderEnd">Für folgende Anwendungen benötigen wir Cookies:</p>
        <ol>
          <li>
            <p>Aufrechterhalten des logins.</p>
          </li>
          <li>
            <p>Beibehalten individueller Einstellungen wie frei gewählter Benutzernamen oder Suchpräferenzen.</p>
          </li>
        </ol>
        <p class="P18_borderStart">Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur
          Erstellung von Nutzerprofilen verwendet.</p>
        <p class="P18_borderEnd">In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der
          personenbezogenen Daten nach Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_4_4__Dauer_der_Speicherung__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.4.4. Dauer der
          Speicherung, Widerspruchs- und Beseitigungsmöglichkeit
        </h3>
        <p class="P32">Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite
          übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine
          Änderung der Einstellungen in Ihrem Internetbrowser
          können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können
          jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Website
          deaktiviert, können möglicherweise nicht
          mehr alle Funktionen der Website vollumfänglich genutzt werden.</p>
        <h2 class="Heading_20_2">
          <a id="a_I_V_Benachrichtigungen_und_Mailinglisten"></a>I.V Benachrichtigungen und Mailinglisten
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_5_1__Beschreibung_und_Umfang_der_Datenverarbeitung"></a>1.5.1. Beschreibung und Umfang der
          Datenverarbeitung
        </h3>
        <p>Auf unserer Internetseite besteht die Möglichkeit, kostenfreie Benachrichtigungsdienste oder Mailinglisten
          zu abonnieren. Dabei werden bei der Anmeldung zum Benachrichtigungsdienst oder einer Mailingliste die Daten
          aus der Eingabemaske bzw. der Registrierungs-E-Mail
          &nbsp;an uns übermittelt, also die E-Mailadresse. Zudem werden folgende Daten bei der Anmeldung erhoben:</p>
        <ol>
          <li>
            <p>IP-Adresse des aufrufenden Rechners</p>
          </li>
          <li>
            <p>Datum und Uhrzeit der Registrierungsbestätigung</p>
          </li>
        </ol>
        <p class="Standard_borderStart">Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre
          Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen.</p>
        <p class="P13_borderEnd">Es erfolgt im Zusammenhang mit der Datenverarbeitung für den Versand von
          Benachrichtigungen oder der Mails der Mailingliste keine Weitergabe der Daten an Dritte. Die Daten werden
          ausschließlich für den Versand der Benachrichtigungen bzw. der Mails
          der Mailingliste verwendet.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_5_2__Rechtsgrundlage_für_die_Datenverarbeitung"></a>1.5.2. Rechtsgrundlage für die
          Datenverarbeitung
        </h3>
        <p>Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung durch den Nutzer ist bei Vorliegen einer
          Einwilligung des Nutzers Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_5_3__Zweck_der_Datenverarbeitung"></a>1.5.3. Zweck der Datenverarbeitung
        </h3>
        <p class="P21">Die Erhebung der E-Mail-Adresse des Nutzers dient dazu, Benachrichtigungen oder die Mails der
          Mailingliste zuzustellen. Die Erhebung von Datum und Uhrzeit der Registrierungsbestätigung dient dem
          Nachweis der Registrierung (opt-in).</p>
        <h3 class="Heading_20_3">
          <a id="a_1_5_4__Dauer_der_Speicherung"></a>1.5.4. Dauer der Speicherung
        </h3>
        <p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
          sind. Das Datum der Registrierungsbestätigung, und die E-Mail-Adresse des Nutzers werden demnach solange
          gespeichert, wie das Abonnement der
          Benachrichtigung oder der Mailingliste aktiv ist. Die sonstigen im Rahmen des Anmeldevorgangs erhobenen
          personenbezogenen Daten werden in der Regel nach einer Frist von fünf Wochen gelöscht.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_5_5__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.5.5. Widerspruchs- und
          Beseitigungsmöglichkeit
        </h3>
        <p class="P22">Das Abonnement der Benachrichtigung oder die Mails der Mailingliste können durch den
          betroffenen Nutzer jederzeit gekündigt werden. Zu diesem Zweck findet sich in jedem Benachrichtigung oder
          Mail ein entsprechender Hinweis.
        </p>
        <h2 class="Heading_20_2">
          <a id="a_I_VI_Registrierung"></a>I.VI Registrierung
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_6_1__Beschreibung_und_Umfang_der_Datenverarbeitung"></a>1.6.1. Beschreibung und Umfang der
          Datenverarbeitung
        </h3>
        <p class="Standard_borderStart">Auf unserer Internetseite bieten wir Nutzern die Möglichkeit, sich unter
          Angabe personenbezogener Daten zu registrieren. Die Daten werden dabei in eine Eingabemaske eingegeben und
          an uns übermittelt und gespeichert. Eine Weitergabe der Daten an Dritte
          findet nicht statt. Folgende Daten werden im Rahmen des Registrierungsprozesses erhoben: Ein beliebig zu
          wählender Benutzername und eine E-Mail-Adresse. Die Angabe des Namens („real name“) oder weiterer
          persönlicher Informationen ist, soweit angeboten,
          immer freiwillig.</p>
        <p class="Text_20_body_borderEnd">Im Zeitpunkt der Registrierung werden zudem folgende Daten gespeichert:</p>
        <ol>
          <li>
            <p>Die IP-Adresse des Nutzers</p>
          </li>
          <li>
            <p>Datum und Uhrzeit der Registrierung</p>
          </li>
        </ol>
        <p>Im Rahmen des Registrierungsprozesses wird eine Einwilligung des Nutzers zur Verarbeitung dieser Daten
          eingeholt.
        </p>
        <h3 class="Heading_20_3">
          <a id="a_1_6_2__Rechtsgrundlage_für_die_Datenverarbeitung"></a>1.6.2. Rechtsgrundlage für die
          Datenverarbeitung
        </h3>
        <p>Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art.&nbsp;6
          Abs.&nbsp;1 lit.&nbsp;a DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_6_3__Zweck_der_Datenverarbeitung"></a>1.6.3. Zweck der Datenverarbeitung
        </h3>
        <p class="Text_20_body_borderStart">Eine Registrierung des Nutzers ist für das Bereithalten bestimmter Inhalte
          und Leistungen auf unserer Website erforderlich.</p>
        <p class="P25">Zur gezielten Benachrichtigung des Benutzers bei ihn betreffenden Änderungen;</p>
        <p class="P25_borderEnd">Zur Verhinderung von Missbrauch;</p>
        <h3 class="Heading_20_3">
          <a id="a_1_6_4__Dauer_der_Speicherung"></a>1.6.4. Dauer der Speicherung
        </h3>
        <p class="Text_20_body_borderStart">Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
          Erhebung nicht mehr erforderlich sind.</p>
        <p class="Text_20_body_borderEnd">Dies ist für die während des Registrierungsvorgangs erhobenen Daten der
          Fall, wenn die Registrierung auf unserer Internetseite aufgehoben oder abgeändert wird.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_6_5__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.6.5. Widerspruchs- und
          Beseitigungsmöglichkeit
        </h3>
        <p class="Standard_borderStart">Als Nutzer haben sie jederzeit die Möglichkeit, die Registrierung aufzulösen.
          Die über Sie gespeicherten Daten können Sie jederzeit abändern oder abändern lassen. Hinweise dazu findet
          der Benutzer in der Bestätigungsmail für seine Anwendung sowie
          auf der Anmeldeseite des jeweiligen Dienstes. Es genügt auch eine E-Mail mit entsprechendem Inhalt an <a
            class="Internet_20_link" href="mailto:info@allotropia.de">info@allotropia.de</a>.</p>
        <h2 class="Heading_20_2">
          <a id="a_I_VII_E-Mail-Kontakt"></a>I.VII E-Mail-Kontakt
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_7_1__Beschreibung_und_Umfang_der_Datenverarbeitung"></a>1.7.1. Beschreibung und Umfang der
          Datenverarbeitung
        </h3>
        <p class="P26_borderStart">Auf unserer Internetseite ist eine Kontaktaufnahme über die bereitgestellte
          E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des
          Nutzers gespeichert.</p>
        <p class="P26_borderEnd">Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten
          werden ausschließlich für die Verarbeitung der Konversation verwendet.
        </p>
        <h3 class="Heading_20_3">
          <a id="a_1_7_2__Rechtsgrundlage_für_die_Datenverarbeitung"></a>1.7.2. Rechtsgrundlage für die
          Datenverarbeitung
        </h3>
        <p class="Standard_borderStart">Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer
          Einwilligung des Nutzers Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a DSGVO.</p>
        <p class="Standard_borderEnd">Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung
          einer E-Mail übermittelt werden, ist Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO. Zielt der E-Mail-Kontakt auf
          den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage
          für die Verarbeitung Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;b DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_7_3__Zweck_der_Datenverarbeitung"></a>1.7.3. Zweck der Datenverarbeitung
        </h3>
        <p class="P19">Die Verarbeitung der personenbezogenen Daten aus der Kontaktaufnahme per E-Mail dient uns
          allein zur Bearbeitung der Kontaktaufnahme.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_7_4__Dauer_der_Speicherung"></a>1.7.4. Dauer der Speicherung
        </h3>
        <p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
          sind. Für die personenbezogenen Daten, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die
          jeweilige Mail nicht mehr erforderlich
          ist. Ausserdem gelten gegebenenfalls gesetzliche Aufbewahrungspflichten.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_7_5__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.7.5. Widerspruchs- und
          Beseitigungsmöglichkeit
        </h3>
        <p class="Standard_borderStart">Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung
          der personenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so kann er der
          Speicherung seiner personenbezogenen Daten jederzeit widersprechen.
          In einem solchen Fall kann die Konversation nicht fortgeführt werden. Hierzu genügt eine E-Mail mit
          entsprechendem Inhalt an <a class="Internet_20_link"
            href="mailto:info@allotropia.de">info@allotropia.de</a>.</p>
        <p class="Standard_borderEnd">Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert
          wurden, werden in diesem Fall gelöscht.</p>
        <h2 class="Heading_20_2">
          <a id="a_I_VIII_Webanalyse_durch_Matomo"></a>I.VIII Webanalyse durch Matomo
        </h2>
        <h3 class="Heading_20_3">
          <a id="a_1_8_1__Umfang_der_Verarbeitung_personenbezogener_Daten"></a>1.8.1. Umfang der Verarbeitung
          personenbezogener Daten
        </h3>
        <p>Wir nutzen auf einigen unserer Webseiten das Open-Source-Software-Tool Matomo (ehemals PIWIK) zur Analyse
          des Surfverhaltens unserer Nutzer. Die Software setzt ein Cookie auf dem Rechner der Nutzer (zu Cookies
          siehe bereits oben). Werden danach Einzelseiten
          unserer Website aufgerufen, so werden folgende Daten gespeichert:</p>
        <ol>
          <li>
            <p>Zwei Bytes der IP-Adresse des aufrufenden Systems des Nutzers</p>
          </li>
          <li>
            <p>Die aufgerufene Webseite</p>
          </li>
          <li>
            <p>Die Website, von der der Nutzer auf die aufgerufene Webseite gelangt ist (Referrer)</p>
          </li>
          <li>
            <p>Die Unterseiten, die von der aufgerufenen Webseite aus aufgerufen werden</p>
          </li>
          <li>
            <p>Die Verweildauer auf der Webseite</p>
          </li>
          <li>
            <p>Die Häufigkeit des Aufrufs der Webseite</p>
          </li>
        </ol>
        <p class="Standard_borderStart">Die Software läuft dabei ausschließlich auf den Servern unserer Webseite. Eine
          Speicherung der personenbezogenen Daten der Nutzer findet nur dort statt. Eine Weitergabe der Daten an
          Dritte erfolgt nicht.</p>
        <p>Die Software ist so eingestellt, dass die IP-Adressen nicht vollständig gespeichert werden, sondern zwei
          Bytes der IP-Adresse maskiert werden (Bsp.: 192.168.xxx.xxx). Auf diese Weise ist eine Zuordnung der
          gekürzten IP-Adresse zum aufrufenden Rechner
          nicht mehr möglich.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_8_2__Rechtsgrundlage_für_die_Verarbeitung_personenbezogener_Daten"></a>1.8.2. Rechtsgrundlage für
          die Verarbeitung personenbezogener Daten
        </h3>
        <p>Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der Nutzer ist Art.&nbsp;6
          Abs.&nbsp;1&nbsp;lit.&nbsp;f DSGVO.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_8_3__Zweck_der_Datenverarbeitung"></a>1.8.3. Zweck der Datenverarbeitung
        </h3>
        <p class="P14">Die Verarbeitung der personenbezogenen Daten der Nutzer ermöglicht uns eine Analyse des
          Surfverhaltens unserer Nutzer. Wir sind in durch die Auswertung der gewonnenen Daten in der Lage,
          Informationen über die Nutzung der einzelnen Komponenten unserer
          Webseite zusammenzustellen. Dies hilft uns dabei unsere Webseite und deren Nutzerfreundlichkeit stetig zu
          verbessern. In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der Daten nach
          Art. 6&nbsp;Abs.&nbsp;1&nbsp;lit.&nbsp;f&nbsp;DSGVO.
          Durch die Anonymisierung der IP-Adresse wird dem Interesse der Nutzer an deren Schutz personenbezogener
          Daten hinreichend Rechnung getragen.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_8_4__Dauer_der_Speicherung"></a>1.8.4. Dauer der Speicherung
        </h3>
        <p>Die Daten werden gelöscht, sobald sie für unsere Aufzeichnungszwecke nicht mehr benötigt werden. In unserem
          Fall ist dies nach 180 Tagen der Fall.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_8_5__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.8.5. Widerspruchs- und
          Beseitigungsmöglichkeit
        </h3>
        <p class="P32_borderStart">Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer
          Seite übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies.
          Durch eine Änderung der Einstellungen in Ihrem Internetbrowser
          können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können
          jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Website
          deaktiviert, können möglicherweise nicht
          mehr alle Funktionen der Website vollumfänglich genutzt werden.</p>
        <p class="Text_20_body_borderEnd">Wir bieten unseren Nutzern die Möglichkeit eines Opt-Out aus dem
          Analyseverfahren. Hierzu müssen Sie in Ihrem Browser die NoTrack-Einstellung aktivieren. Auf diese Weise
          wird unserem System signalisiert die Daten des Nutzers nicht zu speichern. </p>
        <h2 class="P57">
          <a id="a_I_IX_Zahlungsdienstleister"></a>I.IX Zahlungsdienstleister
        </h2>
        <h3 class="P38">
          <a id="a_1_9_1__Umfang_der_Verarbeitung_personenbezogener_Daten"></a>1.9.1. Umfang der Verarbeitung
          personenbezogener Daten
        </h3>
        <p class="P5_borderStart">Auf unserer Webseite bieten wir die Möglichkeit, Zahlungen an uns zu veranlassen.
          Wir setzen externe Zahlungsdienstleister ein, über deren Plattformen die Nutzer Zahlungstransaktionen an uns
          vornehmen können - z.B. (in Klammer der Link zur Datenschutzerklärung):
          Paypal (<a
            href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full">https://www.paypal.com/de/webapps/mpp/ua/privacy-full</a>),
          Stripe (<a href="https://stripe.com/de-US/privacy">https://stripe.com/de-US/privacy</a>), CoinGate (<a
            href="https://coingate.com/privacy">https://coingate.com/privacy</a>),
          BitPay (<a href="https://bitpay.com/about/privacy">https://bitpay.com/about/privacy</a>), Flattr (<a
            href="https://flattr.com/privacy">https://flattr.com/privacy</a>), Visa (<a
            href="https://www.visa.de/nutzungsbedingungen/visa-privacy-center.html">https://www.visa.de/nutzungsbedingungen/visa-privacy-center.html</a>),
          Mastercard (<a
            href="https://www.mastercard.de/de-de/datenschutz.html">https://www.mastercard.de/de-de/datenschutz.html</a>)
        </p>
        <p class="P5_borderEnd">Dazu werden dem gewählten Finanzdienstleister Daten übermittelt. Diese sind:</p>
        <ol>
          <li>
            <p>die IP-Adresse des aufrufenden Systems des Nutzers;</p>
          </li>
          <li>
            <p>der gewählte Betrag und die Währung;</p>
          </li>
          <li>
            <p>die Website, von der aus der Nutzer die Zahlung eingeleitet hat;</p>
          </li>
          <li>
            <p>ob die Zahlung einmalig oder wiederkehrend erfolgen soll;</p>
          </li>
          <li>
            <p>optional die E-Mail-Adresse des Zahlenden.</p>
          </li>
        </ol>
        <h3 class="P38">
          <a id="a_1_9_2__Rechtsgrundlage_für_die_Verarbeitung_personenbezogener_Daten"></a>1.9.2. Rechtsgrundlage für
          die Verarbeitung personenbezogener Daten
        </h3>
        <p class="P20">Rechtsgrundlage für die Verarbeitung der Daten ist Vorliegen einer Einwilligung des Nutzers
          Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a DSGVO.</p>
        <h3 class="P38">
          <a id="a_1_9_3__Zweck_der_Datenverarbeitung"></a>1.9.3. Zweck der Datenverarbeitung
        </h3>
        <p class="P6">Die Verarbeitung dient der Abwicklung einer Spendenzahlung durch einen externen
          Finanzdienstleister.
        </p>
        <h3 class="P38">
          <a id="a_1_9_4__Dauer_der_Speicherung"></a>1.9.4. Dauer der Speicherung
        </h3>
        <p class="P6">Die Daten werden nach der Übermittlung an den Finanzdienstleister gelöscht.</p>
        <h3 class="P38">
          <a id="a_1_9_5__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.9.5. Widerspruchs- und
          Beseitigungsmöglichkeit
        </h3>
        <p class="P28">Da der Vorgang durch den Benutzer selbst ausgelöst und die damit verbundenen Daten sofort
          danach wieder gelöscht werden, gibt es von unserer Seite aus keine Widerspruchs- und
          Beseitigungsmöglichkeit.</p>
        <h2 class="Heading_20_2">
          <a id="a_I_X_Kommentare_und_Beiträge"></a>I.X Kommentare und Beiträge
        </h2>
        <p class="Standard_borderStart">Wenn Nutzer Kommentare oder sonstige Beiträge hinterlassen, können ihre
          IP-Adressen auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO für 7
          Tage gespeichert werden. Das erfolgt zu unserer Sicherheit, falls jemand
          in Kommentaren und Beiträgen widerrechtliche Inhalte hinterlässt (Beleidigungen, verbotene politische
          Propaganda, etc.). In diesem Fall können wir selbst für den Kommentar oder Beitrag belangt werden und sind
          daher an der Identität des Verfassers
          interessiert.</p>
        <p>Des Weiteren behalten wir uns vor, auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f.
          DSGVO, die Angaben der Nutzer zwecks Spamerkennung zu verarbeiten.</p>
        <p class="Standard_borderEnd">Die im Rahmen der Kommentare und Beiträge angegebenen Daten, werden von uns bis
          zum Widerspruch der Nutzer dauerhaft gespeichert.</p>
        <h2 class="P58">
          <a id="a_I_XI_Einbindung_Dienste_Dritter"></a>I.XI Einbindung Dienste Dritter
        </h2>
        <h3 class="P39">
          <a id="a_1_11_1__Art_und_Umfang"></a>1.11.1. Art und Umfang
        </h3>
        <p class="P23">Unsere Webseite nutzen Dienste Dritter. Hierzu werden diese dynamisch in die Webseiten
          eingebunden. Diese Dienste können Cookies der jeweiligen Anbieter auf Ihrem Rechner setzen und auch
          Java-Script-Code ausführen.</p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_1__Einsatz_von_Google-Maps"></a>1.11.1.1. Einsatz von Google-Maps
        </h4>
        <p class="P23_borderStart">Wir setzen auf unserer Seite die Komponente "Google Maps" der Firma Google Ireland
          Limited, Gordon House, Barrow Street, Dublin 4, Irland, nachfolgend „Google“, ein.</p>
        <p class="P23">Bei jedem einzelnen Aufruf der Komponente "Google Maps" wird von Google ein Cookie gesetzt, um
          bei der Anzeige der Seite, auf der die Komponente "Google Maps" integriert ist, Nutzereinstellungen und
          -daten zu verarbeiten. Dieses Cookie wird im Regelfall
          nicht durch das Schließen des Browsers gelöscht, sondern läuft nach einer bestimmten Zeit ab, soweit es
          nicht von Ihnen zuvor manuell gelöscht wird.</p>
        <p class="P23">Wenn Sie mit dieser Verarbeitung Ihrer Daten nicht einverstanden sind, so besteht die
          Möglichkeit, den Service von "Google Maps" zu deaktivieren und auf diesem Weg die Übertragung von Daten an
          Google zu verhindern. Dazu müssen Sie die Java-Script-Funktion
          in Ihrem Browser deaktivieren. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall die "Google Maps"
          nicht oder nur eingeschränkt nutzen können.</p>
        <p class="P23">Die Nutzung von "Google Maps" und der über "Google Maps" erlangten Informationen erfolgt gemäß
          den Google-Nutzungsbedingungen
        </p>
        <p class="P23"><a
            href="http://www.google.de/intl/de/policies/terms/regional.html">http://www.google.de/intl/de/policies/terms/regional.html</a>
        </p>
        <p class="P23">sowie der zusätzlichen Geschäftsbedingungen für „Google Maps“</p>
        <p class="P29"><a class="Internet_20_link"
            href="https://www.google.com/intl/de_de/help/terms_maps.html">https://www.google.com/intl/de_de/help/terms_maps.html
          </a>.</p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_2__Einsatz_von_reCAPTCHA"></a>1.11.1.2. Einsatz von reCAPTCHA
        </h4>
        <p class="P23_borderStart">Um Eingabeformulare auf unserer Seite zu schützen, setzen wir den Dienst
          „reCAPTCHA“ der Firma Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, nachfolgend
          „Google“, ein. Durch den Einsatz dieses Dienstes kann unterschieden werden,
          ob die entsprechende Eingabe menschlicher Herkunft ist oder durch automatisierte maschinelle Verarbeitung
          missbräuchlich erfolgt.</p>
        <p class="P23">Nach unserer Kenntnis werden die Referrer-URL, die IP-Adresse, das Verhalten der
          Webseitenbesucher, Informationen über Betriebssystem, Browser und Verweildauer, Cookies,
          Darstellungsanweisungen und Skripte, das Eingabeverhalten des Nutzers sowie Mausbewegungen
          im Bereich der „reCAPTCHA“-Checkbox an „Google“ übertragen.</p>
        <p class="P23">Google verwendet die so erlangten Informationen unter anderem dazu, Bücher und andere
          Druckerzeugnisse zu digitalisieren sowie Dienste wie Google Street View und Google Maps zu optimieren (bspw.
          Hausnummern- und Straßennamenerkennung).
        </p>
        <p class="P23">Die im Rahmen von „reCAPTCHA“ übermittelte IP-Adresse wird nicht mit anderen Daten von Google
          zusammengeführt, außer Sie sind zum Zeitpunkt der Nutzung des „reCAPTCHA“-Plug-ins bei Ihrem Google-Account
          angemeldet. Wenn Sie diese Übermittlung und Speicherung
          von Daten über Sie und Ihr Verhalten auf unserer Webseite durch „Google“ unterbinden wollen, müssen Sie sich
          bei „Google“ ausloggen und zwar bevor Sie unsere Seite besuchen bzw. das reCAPTCHA Plug-in benutzen.</p>
        <p class="P23">Die Nutzung des Dienstes „reCAPTCHA“ erlangten Informationen erfolgt gemäß den
          Google-Nutzungsbedingungen:
        </p>
        <p class="P23_borderEnd"><a
            href="https://www.google.com/intl/de/policies/privacy/">https://www.google.com/intl/de/policies/privacy/</a>.
        </p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_3__Einsatz_der_Twitter-Empfehlungs-Komponenten"></a>1.11.1.3. Einsatz der
          Twitter-Empfehlungs-Komponenten
        </h4>
        <p class="P23_borderStart">Wir setzen auf unserer Seite Komponenten des Anbieters Twitter ein. Twitter ist ein
          Service der Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA.</p>
        <p class="P23">Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen Komponente ausgestattet ist,
          veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der
          Komponente von Twitter herunterlädt. Durch diesen
          Vorgang wird Twitter darüber in Kenntnis gesetzt, welche konkrete Seite unserer Internetpräsenz gerade
          besucht wird.</p>
        <p class="P23">Wir haben weder Einfluss auf die Daten, die Twitter hierdurch erhebt, noch über den Umfang
          dieser durch Twitter erhobenen Daten. Nach unserem Kenntnisstand wird von Twitter die URL der jeweiligen
          aufgerufenen Webseite sowie IP-Adresse des Nutzers
          erhoben, jedoch nicht für andere Zwecke, als die Darstellung der Twitter- Komponente, genutzt. Weitere
          Informationen hierzu finden sich in der Datenschutzerklärung von Twitter unter <a
            href="http://twitter.com/privacy">http://twitter.com/privacy</a>.</p>
        <p class="P23_borderEnd">Ihre Datenschutzeinstellungen können Sie in den Konto-Einstellungen unter <a
            href="http://twitter.com/account/settings">http://twitter.com/account/settings</a> ändern.</p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_4__Einsatz_von_YouTube-Komponenten_mit_erweitertem_Datenschutzmodus"></a>1.11.1.4. Einsatz
          von YouTube-Komponenten mit erweitertem Datenschutzmodus
        </h4>
        <p class="P23_borderStart">Auf unserer Webseite setzen wir Komponenten (Videos) des Unternehmens YouTube, LLC
          901 Cherry Ave., 94066 San Bruno, CA, USA, einem Unternehmen der Google Ireland Limited, Gordon House,
          Barrow Street, Dublin 4, Irland, ein.</p>
        <p class="P23">Hierbei nutzen wir die von YouTube zur Verfügung gestellte Option " - erweiterter
          Datenschutzmodus - ".
        </p>
        <p class="P23">Wenn Sie eine Seite aufrufen, die über ein eingebettetes Video verfügt, wird eine Verbindung zu
          den YouTube-Servern hergestellt und dabei der Inhalt durch Mitteilung an Ihren Browser auf der Internetseite
          dargestellt.</p>
        <p class="P23">Laut den Angaben von YouTube werden im " - erweiterten Datenschutzmodus -" nur Daten an den
          YouTube-Server übermittelt, insbesondere welche unserer Internetseiten Sie besucht haben, wenn Sie das Video
          anschauen. Sind Sie gleichzeitig bei YouTube eingeloggt,
          werden diese Informationen Ihrem Mitgliedskonto bei YouTube zugeordnet. Dies können Sie verhindern, indem
          Sie sich vor dem Besuch unserer Website von Ihrem Mitgliedskonto abmelden.
        </p>
        <p class="P23">Weitere Informationen zum Datenschutz von YouTube werden von Google unter dem folgenden Link
          bereitgestellt:
        </p>
        <p class="P23_borderEnd"><a
            href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a>
        </p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_5__Einsatz_von_Vimeo-Komponenten"></a>1.11.1.5. Einsatz von Vimeo-Komponenten
        </h4>
        <p class="P23_borderStart">Wir setzen auf unserer Seite Komponenten des Anbieters Vimeo ein. Vimeo ist ein
          Service der Vimeo LCC, 555 West 18th Street, New York, New York 10011, USA. Bei jedem einzelnen Abruf
          unserer Webseite, die mit einer solchen Komponente ausgestattet ist,
          veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der
          Komponente von Vimeo herunterlädt. Wenn Sie unsere Seite aufrufen und währenddessen bei Vimeo eingeloggt
          sind, erkennt Vimeo durch die von der
          Komponente gesammelten Informationen, welche konkrete Seite Sie besuchen und ordnet diese Informationen
          Ihrem persönlichen Account bei Vimeo zu. Klicken Sie z. B. den „Play“-Button an oder geben Sie entsprechende
          Kommentare ab, werden diese Informationen
          an Ihr persönliches Benutzerkonto bei Vimeo übermittelt und dort gespeichert. Darüber hinaus wird die
          Information, dass Sie unsere Seite besucht haben, an Vimeo weitergegeben. Dies geschieht unabhängig davon,
          ob Sie z. B. die Komponente anklicken/Kommentare
          abgeben oder nicht.</p>
        <p class="P23_borderEnd">Wenn Sie diese Übermittlung und Speicherung von Daten über Sie und Ihr Verhalten auf
          unserer Webseite durch Vimeo unterbinden wollen, müssen Sie sich bei Vimeo ausloggen und zwar bevor Sie
          unsere Seite besuchen. Die Datenschutzhinweise von Vimeo geben
          hierzu nähere Informationen, insbesondere zur Erhebung und Nutzung der Daten durch Vimeo: <a
            href="https://vimeo.com/privacy">https://vimeo.com/privacy</a></p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_6__Einsatz_von_Social-Media-Buttons_mit_„Shariff“"></a>1.11.1.6. Einsatz von
          Social-Media-Buttons mit „Shariff“
        </h4>
        <p class="P23_borderStart">Wir setzen auf unserer Webseite das c't-Projekt „Shariff“ ein. „Shariff“ ersetzt
          die üblichen Share-Buttons der Sozialen Netzwerke und schützt hierdurch das Surf-Verhalten</p>
        <p class="P23">„Shariff“ bindet diese Share-Buttons der Sozialen Netzwerke auf unserer Webseite lediglich als
          Grafik ein, die eine Verlinkung auf das entsprechende Soziale Netzwerk enthält. Durch einen Klick auf die
          entsprechende Grafik werden Sie zu dem Dienste
          des jeweiligen Netzwerks weitergeleitet. Der Shariff-Button stellt den direkten Kontakt zwischen Sozialen
          Netzwerk und unseren Besuchern erst dann her, wenn der Besucher aktiv auf den Share-Button klickt. Erst dann
          werden Ihre Daten an das jeweilige
          Soziale Netzwerk übermittelt. Wird der Shariff-Button hingegen nicht angeklickt, findet keinerlei Austausch
          zwischen Ihnen und den Sozialen Netzwerken statt. Weitere Informationen über das das c't-Projekt „Shariff“
          finden Sie unter <a
            href="http://www.heise.de/ct/artikel/Shariff-Social-Media-Buttons-mit-Datenschutz-2467514.html">http://www.heise.de/ct/artikel/Shariff-Social-Media-Buttons-mit-Datenschutz-2467514.html</a>
        </p>
        <p class="P23_borderEnd">Wir binden auf unserer Website folgende Sozialen Netzwerke mit „Shariff“ ein:</p>
        <ul>
          <li>
            <p>Facebook</p>
          </li>
          <li>
            <p>Twitter</p>
          </li>
          <li>
            <p>Google+</p>
          </li>
          <li>
            <p>Reddit</p>
          </li>
          <li>
            <p>LinkedIn</p>
          </li>
        </ul>
        <h4 class="P62">
          <a id="a_1_11_1_7__Abruf_von_Profilbildern_bei_Gravatar"></a>1.11.1.7. Abruf von Profilbildern bei Gravatar
        </h4>
        <p class="Standard_borderStart">Wir setzen innerhalb unseres Onlineangebotes und insbesondere im Blog den
          Dienst Gravatar der Automattic Inc., 60 29th Street #343, San Francisco, CA 94110, USA, ein.</p>
        <p>Gravatar ist ein Dienst, bei dem sich Nutzer anmelden und Profilbilder und ihre E-Mailadressen hinterlegen
          können. Wenn Nutzer mit der jeweiligen E-Mailadresse auf anderen Onlinepräsenzen (vor allem in Blogs)
          Beiträge oder Kommentare hinterlassen,
          können so deren Profilbilder neben den Beiträgen oder Kommentaren dargestellt werden. Hierzu wird die von
          den Nutzern mitgeteilte E-Mailadresse an Gravatar zwecks Prüfung, ob zu ihr ein Profil gespeichert ist,
          verschlüsselt übermittelt. Dies ist
          der einzige Zweck der Übermittlung der E-Mailadresse und sie wird nicht für andere Zwecke verwendet, sondern
          danach gelöscht.</p>
        <p>Die Nutzung von Gravatar erfolgt auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1
          lit. f) DSGVO, da wir mit Hilfe von Gravatar den Beitrags- und Kommentarverfassern die Möglichkeit bieten
          ihre Beiträge mit einem Profilbild
          zu personalisieren.</p>
        <p>Durch die Anzeige der Bilder bringt Gravatar die IP-Adresse der Nutzer in Erfahrung, da dies für eine
          Kommunikation zwischen einem Browser und einem Onlineservice notwendig ist. Nähere Informationen zur
          Erhebung und Nutzung der Daten durch Gravatar
          finden sich in den Datenschutzhinweisen von Automattic: <a
            href="https://automattic.com/privacy/">https://automattic.com/privacy/</a>.</p>
        <p class="Standard_borderEnd">Wenn Nutzer nicht möchten, dass ein mit Ihrer E-Mail-Adresse bei Gravatar
          verknüpftes Benutzerbild in den Kommentaren erscheint, sollten Sie zum Kommentieren eine E-Mail-Adresse
          nutzen, welche nicht bei Gravatar hinterlegt ist. Wir weisen ferner darauf
          hin, dass es auch möglich ist eine anonyme oder gar keine E-Mailadresse zu verwenden, falls die Nutzer nicht
          wünschen, dass die eigene E-Mailadresse an Gravatar übersendet wird. Nutzer können die Übertragung der Daten
          komplett verhindern, indem
          Sie unser Kommentarsystem nicht nutzen.</p>
        <h4 class="Heading_20_4">
          <a id="a_1_11_1_8__Abruf_von_Emojis_und_Smilies"></a>1.11.1.8. Abruf von Emojis und Smilies
        </h4>
        <p class="Standard_borderStart">Innerhalb unseres WordPress-Blogs werden grafische Emojis (bzw. Smilies), d.h.
          kleine grafische Dateien, die Gefühle ausdrücken, eingesetzt, die von externen Servern bezogen werden.
          Hierbei erheben die Anbieter der Server, die IP-Adressen der Nutzer.
          Dies ist notwendig, damit die Emojie-Dateien an die Browser der Nutzer übermittelt werden können. Der
          Emojie-Service wird von der Automattic Inc., 60 29th Street #343, San Francisco, CA 94110, USA, angeboten.
          Datenschutzhinweise von Automattic:
          <a href="https://automattic.com/privacy">https://automattic.com/privacy</a>/. Die verwendeten Server-Domains
          sind s.w.org und twemoji.maxcdn.com, wobei es sich unseres Wissens nach um sog. Content-Delivery-Networks
          handelt, also Server, die lediglich
          einer schnellen und sicheren Übermittlung der Dateien dienen und die personenbezogenen Daten der Nutzer nach
          der Übermittlung gelöscht werden.
        </p>
        <p class="Standard_borderEnd">Die Nutzung der Emojis erfolgt auf Grundlage unserer berechtigten Interessen,
          d.h. Interesse an einer attraktiven Gestaltung unseres Onlineangebotes gem. Art. 6 Abs. 1 lit. f. DSGVO.</p>
        <h4 class="P63">
          <a id="a_1_11_1_9__Flattr"></a>1.11.1.9. Flattr
        </h4>
        <p class="Standard_borderStart">Innerhalb dieses Onlineangebotes sind Schaltflächen des Micropayment-Dienstes
          „Flattr“ eingebunden, der von der Firma Flattr Network Ltd. mit Sitz in 2nd Floor, White bear yard 114A,
          Clerkenwell Road, London, Middlesex, England, EC1R 5DF, Großbritannien,
          betrieben wird. Wenn Sie Seiten dieses Internetangebots, die diese Schaltflächen enthalten, aufrufen, wird
          von Ihrem Browser eine direkte Verbindung zu Servern von Flattr hergestellt.
        </p>
        <p class="Standard_borderEnd">Sofern Nutzer bei Flattr ein Konto angelegt haben, mit dem sie gleichzeitig
          eingeloggt sind, erhält Flattr die Information, dass Nutzer die jeweilige Seite dieses Onlineangebots
          besucht haben. Sofern Nutzer ein Flattr-Konto besitzen, eingeloggt sind
          und mit der Schaltfläche interagieren, werden Informationen darüber an Flattr übermittelt und nach den dort
          geltenden Richtlinien dort zu Abrechnungszwecken gespeichert. Auch wenn Nutzer nicht eingeloggt sind, können
          ggf. Nutzungsdaten erhoben
          und auch gespeichert werden. Wie Ihre Daten genau verarbeitet werden, wenn Sie die Flattr-Schaltfläche
          anklicken, erfahren Nutzer unter <a class="Internet_20_link"
            href="https://flattr.com/privacy">https://flattr.com/privacy</a>.</p>
        <h4 class="P64">
          <a id="a_1_11_1_10__Google_Fonts"></a>1.11.1.10. Google Fonts
        </h4>
        <p>Wir binden die Schriftarten ("Google Fonts") des Anbieters Google Ireland Limited, Gordon House, Barrow
          Street, Dublin 4, Irland, ein. Datenschutzerklärung: <a
            href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>,
          Opt-Out: <a
            href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>.</p>
        <h4 class="P62">
          <a id="a_1_11_1_11__Weitere"></a>1.11.1.11. Weitere
        </h4>
        <p class="P7">Auf einzelnen Webseiten werden ggf. weitere Dienste benutzt. Diese umfassen:</p>
        <ul>
          <li>
            <p>Google Calendar</p>
          </li>
          <li>
            <p>Google code</p>
          </li>
          <li>
            <p>Google Custom Search</p>
          </li>
          <li>
            <p>Google Fonts</p>
          </li>
          <li>
            <p>Blogspot</p>
          </li>
          <li>
            <p>Nabble</p>
          </li>
          <li>
            <p>jQuerry</p>
          </li>
          <li>
            <p>Wordpress</p>
          </li>
          <li>
            <p>Creative Commons</p>
          </li>
          <li>
            <p>polldady</p>
          </li>
          <li>
            <p>bitpay</p>
          </li>
        </ul>
        <h3 class="P40">
          <a id="a_1_11_2__Rechtsgrundlage_für_die_Datenverarbeitung"></a>1.11.2. Rechtsgrundlage für die
          Datenverarbeitung
        </h3>
        <p>Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies ist
          Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.</p>
        <h3 class="P40">
          <a id="a_1_11_3__Zweck_der_Datenverarbeitung"></a>1.11.3. Zweck der Datenverarbeitung
        </h3>
        <p class="P24">Der Zweck der Verwendung ist, die Nutzung von Websites für die Nutzer zu vereinfachen. Einige
          Funktionen unserer Internetseite können ohne den Einsatz von Komponenten Dritter nicht angeboten werden.</p>
        <h3 class="P40">
          <a id="a_1_11_4__Dauer_der_Speicherung__Widerspruchs-_und_Beseitigungsmöglichkeit"></a>1.11.4. Dauer der
          Speicherung, Widerspruchs- und Beseitigungsmöglichkeit
        </h3>
        <p class="P33_borderStart">Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an die Seite
          des jeweiligen Dienstebetreibers übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die
          Verwendung von Cookies. Durch eine Änderung der Einstellungen
          in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits
          gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies
          für unsere Website deaktiviert,
          können möglicherweise nicht mehr alle Funktionen der Website vollumfänglich genutzt werden.</p>
        <p class="P34_borderEnd">Wird zusätzlich JavaScript-Code ausgeführt, können Sie auch das unterbinden. Dazu
          müssen Sie die Java-Script-Funktion in Ihrem Browser deaktivieren. Wir weisen Sie jedoch darauf hin, dass
          Sie in diesem Fall die damit verbundenen Dienste nicht oder
          nur eingeschränkt nutzen können.</p>
        <h2 class="Heading_20_2">
          <a id="a_I_XII_Rechte_der_betroffenen_Person"></a>I.XII Rechte der betroffenen Person
        </h2>
        <p class="P32">Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es
          stehen Ihnen folgende Rechte gegenüber dem Verantwortlichen zu:</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_1__Auskunftsrecht"></a>1.12.1. Auskunftsrecht
        </h3>
        <p class="P32_borderStart">Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob
          personenbezogene Daten, die Sie betreffen, von uns verarbeitet werden.</p>
        <p class="P32">Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen über folgende
          Informationen Auskunft verlangen:</p>
        <p class="P32">(1)&nbsp;die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;</p>
        <p class="P32">(2)&nbsp;die Kategorien von personenbezogenen Daten, welche verarbeitet werden;</p>
        <p class="P35">(3)&nbsp;die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die Sie betreffenden
          personenbezogenen Daten offengelegt wurden oder noch offengelegt werden;</p>
        <p class="P35">(4)&nbsp;die geplante Dauer der Speicherung der Sie betreffenden personenbezogenen Daten oder,
          falls konkrete Angaben hierzu nicht möglich sind, Kriterien für die Festlegung der Speicherdauer;</p>
        <p class="P35">(5)&nbsp;das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden
          personenbezogenen Daten, eines Rechts auf Einschränkung der Verarbeitung durch den Verantwortlichen oder
          eines Widerspruchsrechts gegen diese Verarbeitung;</p>
        <p class="P32">(6)&nbsp;das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;</p>
        <p class="P35">(7)&nbsp;alle verfügbaren Informationen über die Herkunft der Daten, wenn die personenbezogenen
          Daten nicht bei der betroffenen Person erhoben werden;</p>
        <p class="P35">(8)&nbsp;das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß
          Art.&nbsp;22 Abs.&nbsp;1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über
          die involvierte Logik sowie die Tragweite und
          die angestrebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.</p>
        <p class="P32_borderEnd">Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie betreffenden
          personenbezogenen Daten in ein Drittland oder an eine internationale Organisation übermittelt werden. In
          diesem Zusammenhang können Sie verlangen, über die geeigneten
          Garantien gem. Art.&nbsp;46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_2__Recht_auf_Berichtigung"></a>1.12.2. Recht auf Berichtigung
        </h3>
        <p class="P32">Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem Verantwortlichen,
          sofern die verarbeiteten personenbezogenen Daten, die Sie betreffen, unrichtig oder unvollständig sind. Der
          Verantwortliche hat die Berichtigung unverzüglich
          vorzunehmen.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_3__Recht_auf_Einschränkung_der_Verarbeitung"></a>1.12.3. Recht auf Einschränkung der
          Verarbeitung
        </h3>
        <p class="P32_borderStart">Unter den folgenden Voraussetzungen können Sie die Einschränkung der Verarbeitung
          der Sie betreffenden personenbezogenen Daten verlangen:</p>
        <p class="P35">(1)&nbsp;wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer
          bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu
          überprüfen;</p>
        <p class="P35">(2)&nbsp;die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten
          ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;</p>
        <p class="P35">(3)&nbsp;der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht
          länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen
          benötigen, oder</p>
        <p class="P35">(4)&nbsp;wenn Sie Widerspruch gegen die Verarbeitung gemäß Art.&nbsp;21 Abs.&nbsp;1 DSGVO
          eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren
          Gründen überwiegen.</p>
        <p class="P32">Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten eingeschränkt, dürfen diese
          Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder
          Verteidigung von Rechtsansprüchen oder zum
          Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen
          öffentlichen Interesses der Union oder eines Mitgliedstaats verarbeitet werden.</p>
        <p class="P32_borderEnd">Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen eingeschränkt,
          werden Sie von dem Verantwortlichen unterrichtet bevor die Einschränkung aufgehoben wird.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_4__Recht_auf_Löschung"></a>1.12.4. Recht auf Löschung
        </h3>
        <h4 class="Heading_20_4">
          <a id="a_1_12_4_1__Löschungspflicht"></a>1.12.4.1. Löschungspflicht
        </h4>
        <p>Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten
          unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen,
          sofern einer der folgenden Gründe zutrifft:</p>
        <ol>
          <li>
            <p>Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige
              Weise verarbeitet wurden, nicht mehr notwendig.
            </p>
          </li>
          <li>
            <p>Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem. Art.&nbsp;6 Abs.&nbsp;1
              lit.&nbsp;a oder Art.&nbsp;9 Abs.&nbsp;2 lit.&nbsp;a DSGVO stützte und es fehlt an einer anderweitigen
              Rechtsgrundlage für die Verarbeitung.</p>
          </li>
          <li>
            <p>Sie legen gem. Art.&nbsp;21 Abs.&nbsp;1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen
              keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen gem. Art.&nbsp;21
              Abs.&nbsp;2 DSGVO Widerspruch gegen die Verarbeitung
              ein.</p>
          </li>
          <li>
            <p>Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig verarbeitet.</p>
          </li>
          <li>
            <p>Die Löschung der Sie betreffenden personenbezogenen Daten ist zur Erfüllung einer rechtlichen
              Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der
              Verantwortliche unterliegt.
            </p>
          </li>
          <li>
            <p>Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf angebotene Dienste der
              Informationsgesellschaft gemäß Art.&nbsp;8 Abs.&nbsp;1 DSGVO erhoben.</p>
          </li>
        </ol>
        <h4 class="Heading_20_4">
          <a id="a_1_12_4_2__Information_an_Dritte"></a>1.12.4.2. Information an Dritte
        </h4>
        <p class="P32">Hat der Verantwortliche die Sie betreffenden personenbezogenen Daten öffentlich gemacht und ist
          er gem. Art.&nbsp;17 Abs.&nbsp;1 DSGVO zu deren Löschung verpflichtet, so trifft er unter Berücksichtigung
          der verfügbaren Technologie und der Implementierungskosten
          angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwortliche, die die
          personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie als betroffene Person von ihnen die
          Löschung aller Links zu diesen personenbezogenen
          Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.</p>
        <h4 class="Heading_20_4">
          <a id="a_1_12_4_3__Ausnahmen"></a>1.12.4.3. Ausnahmen
        </h4>
        <p>Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich ist</p>
        <ol>
          <li>
            <p>zur Ausübung des Rechts auf freie Meinungsäußerung und Information;</p>
          </li>
          <li>
            <p>zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der
              Mitgliedstaaten, dem der Verantwortliche unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die
              im öffentlichen Interesse liegt oder
              in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde;</p>
          </li>
          <li>
            <p>aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit gemäß Art.&nbsp;9
              Abs.&nbsp;2 lit.&nbsp;h und i sowie Art.&nbsp;9 Abs.&nbsp;3 DSGVO;</p>
          </li>
          <li>
            <p>für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische
              Forschungszwecke oder für statistische Zwecke gem. Art.&nbsp;89 Abs.&nbsp;1 DSGVO, soweit das unter
              Abschnitt a) genannte Recht voraussichtlich die Verwirklichung
              der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt, oder</p>
          </li>
          <li>
            <p>zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
          </li>
        </ol>
        <h3 class="Heading_20_3">
          <a id="a_1_12_5__Recht_auf_Unterrichtung"></a>1.12.5. Recht auf Unterrichtung
        </h3>
        <p class="Standard_borderStart">Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der
          Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser verpflichtet, allen Empfängern,
          denen die Sie betreffenden personenbezogenen Daten offengelegt wurden, diese
          Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies
          erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden.</p>
        <p class="Standard_borderEnd">Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese Empfänger
          unterrichtet zu werden.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_6__Recht_auf_Datenübertragbarkeit"></a>1.12.6. Recht auf Datenübertragbarkeit
        </h3>
        <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Verantwortlichen
          bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Außerdem
          haben Sie das Recht diese Daten einem anderen
          Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt
          wurden, zu übermitteln, sofern</p>
        <ol>
          <li>
            <p>die Verarbeitung auf einer Einwilligung gem. Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a DSGVO oder Art.&nbsp;9
              Abs.&nbsp;2 lit.&nbsp;a DSGVO oder auf einem Vertrag gem. Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;b DSGVO
              beruht und
            </p>
          </li>
          <li>
            <p>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</p>
          </li>
        </ol>
        <p class="Standard_borderStart">In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass die
          Sie betreffenden personenbezogenen Daten direkt von einem Verantwortlichen einem anderen Verantwortlichen
          übermittelt werden, soweit dies technisch machbar ist. Freiheiten
          und Rechte anderer Personen dürfen hierdurch nicht beeinträchtigt werden.</p>
        <p class="Standard_borderEnd">Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung
          personenbezogener Daten, die für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen
          Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen
          übertragen wurde.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_7__Widerspruchsrecht"></a>1.12.7. Widerspruchsrecht
        </h3>
        <p class="Standard_borderStart">Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation
          ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von
          Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;e oder f DSGVO erfolgt, Widerspruch
          einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.</p>
        <p>Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, er
          kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und
          Freiheiten überwiegen, oder die Verarbeitung
          dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
        <p>Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie
          das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum
          Zwecke derartiger Werbung einzulegen;
          dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</p>
        <p>Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie betreffenden
          personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.
        </p>
        <p class="Standard_borderEnd">Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von Diensten der
          Informationsgesellschaft – ungeachtet der Richtlinie 2002/58/EG – Ihr Widerspruchsrecht mittels
          automatisierter Verfahren auszuüben, bei denen technische Spezifikationen verwendet
          werden.
          <a id="_GoBack"></a>
        </p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_8__Recht_auf_Widerruf_der_datenschutzrechtlichen_Einwilligungserklärung"></a>1.12.8. Recht auf
          Widerruf der datenschutzrechtlichen Einwilligungserklärung
        </h3>
        <p>Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den
          Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
          Verarbeitung nicht berührt.</p>
        <h3 class="Heading_20_3">
          <a id="a_1_12_9__Recht_auf_Beschwerde_bei_einer_Aufsichtsbehörde"></a>1.12.9. Recht auf Beschwerde bei einer
          Aufsichtsbehörde
        </h3>
        <p class="Standard_borderStart">Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
          Rechtsbehelfs steht Ihnen das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem
          Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des
          mutmaßlichen Verstoßes, zu, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
          personenbezogenen Daten gegen die DSGVO verstößt.</p>
        <p class="Standard_borderEnd">Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde, unterrichtet den
          Beschwerdeführer über den Stand und die Ergebnisse der Beschwerde einschließlich der Möglichkeit eines
          gerichtlichen Rechtsbehelfs nach Art.&nbsp;78 DSGVO.</p>

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
