<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>allotropia</h3>
    <p>Here's where the fun is.</p>
    <div class="social-links">
      <a href="https://twitter.com/AllotropiaEN" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.linkedin.com/company/allotropia-software-gmbh" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright 2021 <strong><span>allotropia software GmbH</span></strong>. All Rights Reserved
    </div>
    <div class="morelinks">
    <a href="/imprint.html">Impressum (Imprint)</a> · <a href="/privacy.html">Datenschutzerklärung (Privacy)</a>
    </div>

  </div>
</footer><!-- End Footer -->
