<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope-fill"></i><a href="mailto:info@allotropia.de">info@allotropia.de</a>
      {# <i class="bi bi-phone-fill phone-icon"></i> <a href="tel:+49 40 2285 1984">+49 40 2285 1984</a> #}
    </div>
    <div class="social-links d-none d-md-block">
      <a href="https://twitter.com/AllotropiaEN" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.linkedin.com/company/allotropia-software-gmbh" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <h1 class="visually-hidden"><a href="index.html">Allotropia</a></h1>
    <a href="index.html" class="logo me-auto"><img src="assets/img/logo.svg" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto {% if page == 'index' %}active{% endif %}" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        {# <li><a class="nav-link scrollto" href="#services">Services</a></li> #}
        {# <li><a class="nav-link scrollto {% if page == 'portfolio' %}active {% endif %}" href="#portfolio">Portfolio</a></li> #}
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        {# <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> #}
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="nav-link" href="https://blog.allotropia.de/">Blog</a></li>
        {# <li><a class="getstarted scrollto" href="#about">Get Started</a></li> #}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
