/*
Quote

Usage samples

<figure class="quote">
	<blockquote class="quote__body">It is the unofficial force—the Baker Street irregulars.</blockquote>
</figure>

<figure class="quote">
	<blockquote class="quote__body">It is the unofficial force—the Baker Street irregulars.</blockquote>
	<figcaption class="quote__credits">Sherlock Holmes, <cite>Sign of Four</cite></figcaption>
</figure>

Credits: https://codepen.io/Ondreas/pen/aYoVGR
*/

.quote {
	width: fit-content;
	padding: 1rem;
	background-color: transparentize(#000, .98);

	&__body {
		z-index: 1;
		position: relative;
		margin: 0;
		padding: .75rem 2.75rem;
		font-family: Georgia, serif;
		font-size: 1.125rem;
		font-style: italic;
        text-align: center;

		&::before,
		&::after {
			z-index: -1;
			position: absolute;
			color: hsl(0,0,82.5%);
			font-size: 4rem;
			font-style: normal;
			font-weight: 700;
		}
		&::before {
			content: "“";
			top: 0;
			left: 0;
			line-height: 1;
		}
		&::after {
			content: "”";
			bottom: 0;
			right: 0;
			line-height: 0;
		}
	}
    &__credits {
        margin-left: 2.75rem;
		padding-right: 2.75rem;
		color: hsl(0,0,55%);
		font-size: .8125rem; // 13px
    }
}
