/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: lighten($primary, 44);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: $primary;
    bottom: 0;
    left: calc(50% - 20px);
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
    color: lighten($default, 30);
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services {
  padding: 20px 0;
  .icon-box {
    padding: 20px;
  }

  .icon-box-bg {
    background-image: linear-gradient(0deg,  $secondary 0%, lighten($secondary, 5) 50%,  $secondary 100%);
  }

  .icon {
    margin-bottom: 15px;

    i {
      color: $primary;
      font-size: 42px;
    }

  }

  .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    a {
      color: $secondary;
      transition: 0.3s;
    }

  }

  .icon-box:hover .title  a {
    color: $primary;
  }

  .description {
    line-height: 24px;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {

  img {
    width: 50%;
    margin: 10% 25%;
  }

  .content {
    h3 {
      font-weight: 700;
      font-size: 28px;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 10px;
      }
      i {
        font-size: 20px;
        padding-right: 4px;
        color: $primary;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
    .bi-chat-left-quote {
      display: block;
      font-size: 40px;
      margin-top: 12px;
    }
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding: 0;
  .row {
    overflow: hidden;
  }
  .content-item {
    padding: 40px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: -1px;

    span {
      display: block;
      font-size: 24px;
      font-weight: 400;
      color: lighten($primary, 5);
    }

    h4 {
      font-size: 26px;
      font-weight: 300;
      padding: 0;
      margin: 20px 0;
    }

    p {
      color: lighten($default, 40);
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    .content-item {
      padding: 40px 0;
    }
  }
}

/*--------------------------------------------------------------
# Our Clients
--------------------------------------------------------------*/
.clients {

  .swiper-slide {
    img {
      opacity: 0.5;
      transition: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }

  .swiper-pagination {
    margin-top: 20px;
    position: relative;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 1;
      border: 1px solid $primary;
    }

    .swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }

}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {

  .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: $white;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);

    .icon {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.3s;
      position: relative;

      i {
        font-size: 36px;
        transition: 0.5s;
        position: relative;
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        path {
          transition: 0.5s;
          fill: #f5f5f5;
        }
      }

    }

    h4 {
      font-weight: 600;
      margin: 10px 0 15px 0;
      font-size: 22px;
      a {
        color: $secondary;
        transition: ease-in-out 0.3s;
      }

    }

    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }

    &:hover {
      border-color: $white;
      box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
    }
  }

  .iconbox-blue {
    i {
      color: #47aeff;
    }

    &:hover .icon {
      i {
        color: $white;
      }
      path {
        fill: #47aeff;
      }
    }
  }

  .iconbox-orange {
    i {
      color: #ffa76e;
    }

    &:hover .icon {
      i {
        color: $white;
      }
      path {
        fill: #ffa76e;
      }
    }
  }

  .iconbox-pink {
    i {
      color: #e80368;
    }

    &:hover .icon {
      i {
        color: $white;
      }
      path {
        fill: #e80368;
      }
    }
  }

  .iconbox-yellow {
    i {
      color: #ffbb2c;
    }

    &:hover .icon {
      i {
        color: $white;
      }
      path {
        fill: #ffbb2c;
      }
    }
  }

  .iconbox-red {
    i {
      color: #ff5828;
    }

    &:hover .icon {
      i {
        color: $white;
      }
      path {
        fill: #ff5828;
      }
    }
  }

  .iconbox-teal {
    i {
      color: #11dbcf;
    }

    &:hover .icon {
      i {
        color: $white;
      }
      path {
        fill: #11dbcf;
      }
    }
  }

}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: $primary;
  padding:  80px 0;

  h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    color: #fff;
  }

  .cta-btn {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    &:hover {
      background: $white;
      color: $primary;
    }
  }

  @media (max-width: 1024px) {
    background-attachment: scroll;
  }

  @media (min-width: 769px) {
    .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {

  .portfolio-item {
    margin-bottom: 30px;
  }

  #portfolio-flters {
    padding:0;
    margin:0 auto 20px auto;
    list-style:none;
    text-align:center;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 15px 10px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: $default;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;

      &:hover, &.filter-active {
        color: $white;
        background: $primary;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba($secondary, 0.6);

    &::before {
      content: "";
      background: rgba($secondary, 0.6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all ease-in-out 0.3s;
      z-index: 2;
      opacity: 0;
    }

    img {
      transition: all ease-in-out 0.3s;
    }


    .portfolio-info {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 20px;

      h4 {
        font-size: 20px;
        color: $white;
        font-weight: 600;
      }

      p {
        color: rgba($white, .7);
        font-size: 14px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-style: italic;
      }

    }

    .portfolio-links {
      text-align: center;
      z-index: 4;

      a {
        color: $white;
        margin: 0 5px 0 0;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;

        &:hover {
          color: lighten($primary, 5);
        }
      }

    }

    &:hover {

      &::before {
        opacity: 1;
      }

      img {
        transform: scale(1.2);
      }

      .portfolio-info {
        opacity: 1;
      }

    }
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {

  padding-top: 40px;

  .portfolio-details-slider {
    img {
      width: 100%;
    }
    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid $primary;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }

  }

  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba($secondary, 0.08);

    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      li +li {
        margin-top: 10px;
      }
    }

  }

  .portfolio-description {
    padding-top: 30px;

    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      padding: 0;
    }
  }

}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {

  .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba($secondary,0.07);
    padding: 30px 20px;
    background: $white;

    img {
      max-width: 60%;
      border-radius: 50%;
      margin: 0 0 30px 0;
    }


    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    p {
      padding-top: 10px;
      font-size: 14px;
      font-style: italic;
      color: lighten($default, 40);
    }

    .social {
      margin-top: 15px;
      a {
        color: lighten($default, 30%);
        transition: 0.3s;
        &:hover {
          color: $primary;
        }

      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {

  .info {
    border-top: 3px solid $primary;;
    border-bottom: 3px solid $primary;;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);

    i {
      font-size: 20px;
      color: $primary;
      float: left;
      width: 44px;
      height: 44px;
      background: lighten($primary, 40);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $secondary;
    }

    p {
      padding: 0 0 10px 60px;
      margin-bottom: 20px;
      font-size: 14px;
      color: lighten($secondary, 20);
    }

    .social-links {
      padding-left: 60px;
      a {
        font-size: 18px;
        display: inline-block;
        background: #333;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
        margin-right: 10px;
        &:hover {
          background: $primary;
          color: #fff;
        }
      }
    }

    .email:hover, .address:hover, .phone:hover {
      i {
        background: $primary;
        color: $white;
      }
    }
  }


  .php-email-form {
    width: 100%;
    border-top: 3px solid $primary;;
    border-bottom: 3px solid $primary;;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);

    .form-group {
      padding-bottom: 8px;
    }

    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      & br + br {
        margin-top: 25px;
      }
    }

    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }

    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
      &:focus {
        border-color: $primary;
      }
    }

    input {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: $primary;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      &:hover {
        background: lighten($primary, 5);
      }
    }

  }

  @keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: lighten($secondary, 85);
  min-height: 40px;
  @media (max-width: 992px) {
    margin-top: 66px;
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;

    li + li {
      padding-left: 10px;
    }

    li + li::before {
      display: inline-block;
      padding-right: 10px;
      color: lighten($secondary, 10);
      content: "/";
    }
  }

  @media (max-width: 768px) {
    .d-flex {
      display: block !important;

    }

    ol {
      display: block;
      li {
        display: inline-block;
      }

    }
  }
}
