// Fonts
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$allotropia-light-green: #3aaa35ff;
$allotropia-dark-green: #008d36ff;

// Colors
$default: #444444;
$primary: $allotropia-light-green;
$secondary: #222222;

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$brown: #7b4f2c;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;
