<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About Us</h2>
      <p>
        The company allotropia software GmbH provides services, consulting and products around LibreOffice
        and related opensource projects.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <figure class="figure">
          <img src="assets/img/fullerene_small.png" class="img-fluid" alt="">
          <figcaption class="figure-caption text-center">
            <a href="https://en.wikipedia.org/wiki/File:Buckminsterfullerene-2D-skeletal_numbered.svg" target="_blank">Rendering</a>
              by Esmu Igors / <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank">CC BY</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Our Mission</h3>
        <p>
          Founded in 2020 with 5 long-time developers of the project, its stated mission is to bring LibreOffice to shine -
          in as many different shape and form as necessary to serve modern needs towards office productivity software.
          At the same time, we're here to have a lot of fun hacking on the code!
        </p>

        <h3>The Name</h3>
        <p>
          We thought the name “allotropia” appropriate for that kind of endeavour.
          Its roots are the Greek allotropos (ἄλλος τρόπος), meaning the feature of some chemical elements to exist
          in two or more different forms - in the same physical state, but with massively different chemical attributes.
          Quite apropos we think, when considering the very many forms & shapes you find the same piece of opensource
          software (like LibreOffice) in use. You take the same elementary FLOSS ingredient, and get a multitude of
          different forms out of it - on the desktop, server, mobile & many more niche use-cases.
        </p>

        <figure class="quote">
          <blockquote class="quote__body">And if you let FLOSS sit in just the right environment for long enough - you get a diamond (or the even more interesting buckyball, see picture).</blockquote>
        </figure>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
