<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      {# <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> #}
    </div>


    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Flachsland 10, 22083 Hamburg, Germany</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:info@allotropia.de">info@allotropia.de</a></p>
          </div>

          {# <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p><a href="tel:+49 40 2285 1984">+49 40 2285 1984</a></p>
          </div> #}
          <iframe src="https://maps.google.com/maps?width=466&amp;height=290&amp;hl=en&amp;q=Flachsland%2010%2C%20Hamburg+(allotropia%20software%20GmbH)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>



      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

        <iframe
          width="100%" height="660"
          src="https://share.allotropia.de/index.php/apps/appointments/embed/IW_HD%2B7g%2Bg12q%2Bob9MQzQYsq_Z2NOeYSsZG_dHDGSPkHxw%3D%3D/form"
          >
        </iframe>

        {# <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6 mt-3 mt-md-0">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group mt-3">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form> #}
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
