<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(assets/img/slide/allotropia_mood.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>allotropia</span></h2>
            <p class="animate__animated animate__fadeInUp">allotropia provides services, consulting and products around LibreOffice and related opensource projects.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url(assets/img/slide/hhhack_pythonhack.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Our services</h2>
            <p class="animate__animated animate__fadeInUp">Contact us to learn more about our LibreOffice consulting services.</p>
            <a href="#contact" class="btn-get-started animate__animated animate__fadeInUp scrollto">Contact us</a>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url(assets/img/slide/muchack_crossplatform.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Our Team</h2>
            <p class="animate__animated animate__fadeInUp">Get to know our team of certified LibreOffice developers.</p>
            <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url(assets/img/slide/hhhack_nighthack.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Join us!</h2>
            <p class="animate__animated animate__fadeInUp">We're always looking for talented people to support our mission.</p>
            <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Contact us</a>
            <p class="credit">Image &copy;: 2018 Björn Michaelsen, all rights reserved.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url(assets/img/slide/hhhack_poolandstickers.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Fun place to work</h2>
            <p class="animate__animated animate__fadeInUp">Interesting projects, fun team events</p>
            {# <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> #}
            <p class="credit">Image &copy;: 2018 Björn Michaelsen, all rights reserved.</p>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->
