<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Team</h2>
      <p>Get to know our team of <a target="_blank" href="https://www.libreoffice.org/get-help/professional-support">certified LibreOffice developers</a>.</p>
    </div>


    <div class="row">
      <div class="col-lg col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/thb.jpg" alt="">
          <h4>Thorsten Behrens</h4>
          <span>Managing Director, LibreOffice hacker</span>
          {# <p>
            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div> #}
        </div>
      </div>

      <div class="col-lg col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/sam.jpg" alt="">
          <h4>Samuel Mehrbrodt</h4>
          <span>LibreOffice hacker, Java expert, LOEclipse maintainer</span>
          {# <p>
            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div> #}
        </div>
      </div>

      <div class="col-lg col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/mst.jpg" alt="">
          <h4>Michael Stahl</h4>
          <span>LibreOffice hacker, Writer expert, ODF co-editor</span>
          {# <p>
            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div> #}
        </div>
      </div>

      <div class="col-lg col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/alg.jpg" alt="">
          <h4>Armin Le Grand</h4>
          <span>LibreOffice hacker, drawinglayer expert</span>
          {# <p>
            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div> #}
        </div>
      </div>

      <div class="col-lg col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/jmux.jpg" alt="">
          <h4>Jan-Marek Glogowski</h4>
          <span>LibreOffice hacker, WASM wrangler, KDE/Qt expert</span>
          {# <p>
            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div> #}
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->
